img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
ion-scroll {
  white-space: nowrap;
  height: 100%; // better to calculate the device height and set it offsetting the bottom StatusBar or margin, etc.
}
