<ion-header class="page-header">
  <ion-navbar align-title=”center” height="auto">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons left>
      <img
        class="displayed picker-opts-left"  height="25 px" width="25 px"
        src="../assets/imgs/commonImgs/walmartLogo.png" />
    </ion-buttons>
    <ion-title>
      <span text-color="my-custom-color"> Let us know you! </span>
    </ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="choice">
      <ion-segment-button value="allergies">
        Allergens
      </ion-segment-button>
      <ion-segment-button value="style">
        Fashion
      </ion-segment-button>
      <ion-segment-button value="lifeStyle">
        Lifestyle
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding class="page-home">

  <div [ngSwitch]="choice">
    <ion-list *ngSwitchCase="'allergies'">

      <ion-item>
        <ion-label>Peanuts</ion-label>
        <ion-toggle value="Peanuts" checked="true"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Lactose</ion-label>
        <ion-toggle value="Lactose" ></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Seafood</ion-label>
        <ion-toggle value="Seafood" ></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Gluten</ion-label>
        <ion-toggle value="Gluten"></ion-toggle>
      </ion-item>

    </ion-list>

    <ion-list *ngSwitchCase="'style'">
      <ion-item>
        <ion-label>Shirt</ion-label>
        <ion-label>Size</ion-label>
        <ion-select [(ngModel)]="shirt">
          <ion-option *ngFor="let item of shirtSizes" [value]="item"
          >{{item}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Pant</ion-label>
        <ion-label>Size</ion-label>
        <ion-select [(ngModel)]="pant">
          <ion-option *ngFor="let item of pantSizes" [value]="item"
          >{{item}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Shoe</ion-label>
        <ion-label>Size</ion-label>
        <ion-select [(ngModel)]="shoe">
          <ion-option *ngFor="let item of items" [value]="item"
          >{{item}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Color you dont like</ion-label>
        <ion-select [(ngModel)]="color">
          <ion-option value="nes">Red</ion-option>
          <ion-option value="n64">Blue</ion-option>
          <ion-option value="ps">Black</ion-option>
          <ion-option value="genesis">White</ion-option>
          <ion-option value="saturn">Purple</ion-option>
          <ion-option value="snes">Green</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'lifeStyle'">

      <ion-item>
        <ion-label>Vegetarian</ion-label>
        <ion-toggle value="lifeStyle" checked="true"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Vegan</ion-label>
        <ion-toggle value="Vegan" ></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Keto diet</ion-label>
        <ion-toggle value="Keto" ></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Low Carb diet</ion-label>
        <ion-toggle value="LowCarb"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>High Protein diet</ion-label>
        <ion-toggle value="HighProtein"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Liquid diet</ion-label>
        <ion-toggle value="LiquidProtein"></ion-toggle>
      </ion-item>

    </ion-list>
  </div>
  <div [ngSwitch]="choice">
    <ion-row *ngSwitchCase="'allergies'" >
      <ion-col>
        <ion-buttons end>
          <button ion-button outline item-end icon-left (click)=skipAllergies()>
            <ion-icon name="arrow-dropright"></ion-icon>
            Skip
          </button>
        </ion-buttons>
      </ion-col>
    </ion-row>
    <ion-row *ngSwitchCase="'style'" >
      <ion-col>
        <ion-buttons end>
          <button ion-button outline item-end icon-left (click)=skipStyle()>
            <ion-icon name="arrow-dropright"></ion-icon>
            Skip
          </button>
        </ion-buttons>
      </ion-col>
    </ion-row>
    <ion-row *ngSwitchCase="'lifeStyle'" >
      <ion-col>
        <ion-buttons start>
          <button ion-button outline item-end icon-left>
            <ion-icon name="arrow-dropright"></ion-icon>
            Skip
          </button>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <ion-buttons end>
          <button ion-button outline (click)="goToHome()"
                  item-end icon-right>
            <ion-icon name="thumbs-up"></ion-icon>
            Done
          </button>
        </ion-buttons>
      </ion-col>
    </ion-row>

  </div>

  <ion-fab bottom right #fab2 style="position: absolute">
    <button ion-fab color="light"><ion-icon name="settings"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab><ion-icon name="cart"></ion-icon></button>
      <button ion-fab><ion-icon name="paper"></ion-icon></button>
      <button ion-fab><ion-icon name="card"></ion-icon></button>
      <button ion-fab><ion-icon name="call"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
